#cart {
    width: 50%;
    text-align: right;
    position: relative;

    #cart-body {
        min-height: 200px;
        background: #fff;
        position: absolute;
        z-index: 100;
        top: 30px;
        right: 0;
        width: 100%;
        box-shadow: 0 0 5px 3px #00000054;
        padding: 5px;

        .cart-product {
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 3px 2px #00000059;
            padding: 5px;
            margin-bottom: 10px;

            img {
                max-width: 50px;
            }
            span {
                width: 120px;
                text-align: left;
            }
            u {
                text-decoration: none;
                color: red;
                cursor: pointer;
                padding: 5px;
                font-size:18px;
            }
        }
    }

    #cart-head {
        cursor: pointer;
        i {
            margin-left: 15px;
            color: #fff;
            b {
                margin-left: 5px;
            }
        }
    }
}